* {
    padding: 0;
    margin: 0;
    font-family: 'Roboto', sans-serif;
}

.container {
    width: 90%;
    margin: 0 auto;
}

a {
    text-decoration: none;
}

button {
    border: none;
    cursor: pointer;
    transition: .4s;
}

/*header start*/

#header {
    background: #fff;
    position: sticky;
    top: 0;
    z-index: 100;
    padding: 20px 0;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-logo {
    display: flex;
    align-items: center;
}

.header-logo h1 {
    color: black;
    font-size: 25px;
    font-weight: 700;
    padding-right: 58px;
}

.header-logo a {
    color: #000;
    font-size: 16px;
    font-weight: 400;
    padding: 0 26px;
    transition: .4s;
}

.header-logo a:hover {
    color: blue;
    text-decoration-line: underline;
}

.header-btn button {
    color: #FFF;
    font-size: 17px;
    font-weight: 400;
    border-radius: 8px;
    background: #FF4343;
    padding: 15px 25px;
    margin: 0 5px;
    border: 2px solid #FF4343;
}

.header-btn button:hover {
    color: #FF4343;
    border: 2px solid #FF4343;
    background: transparent;
}

/*header end*/

/*hero start*/

#hero {
    background: #100E14;
}

.hero h1 {
    color: #FFF;
    font-size: 63px;
    font-weight: 400;
    padding-top: 96px;
}

.hero p {
    color: rgba(255, 255, 255, 0.70);
    font-size: 28px;
    font-weight: 400;
    padding: 44px 0 73px 0;
}

.hero button {
    color: #FFF;
    font-size: 23px;
    font-weight: 400;
    border-radius: 8px;
    background: #FF4343;
    padding: 13px 25px;
    display: flex;
    align-items: center;
}

.hero button ion-icon {
    padding-left: 14px;
    font-size: 28px;
}

.hero h6 {
    color: #FFF;
    font-size: 14px;
    font-weight: 400;
    padding: 19px 0 61px 0;
}

.hero {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.hero-img {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.hero-img-two {
    position: absolute;
    top: 0;
    right: -15px;
}

/*hero end*/

/*shoot start*/

#shoot {
    background: #121118;
    padding: 30px 0 0 0;
}


.shoot {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.shoot-text h1 {
    width: 442px;
    padding-bottom: 38px;
    color: #FFF;
    font-size: 58px;
    font-weight: 400;
    line-height: 70px;
}

.shoot-text p {
    width: 452px;
    color: rgba(255, 255, 255, 0.50);
    font-size: 26px;
    font-weight: 400;
    line-height: 38px;
}

.shoot-img {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.shoot-img-one {
    position: relative;
    z-index: 2;
}

.shoot-img-two {
    position: absolute;
    bottom: -35px;
    right: 75px;
}

/*shoot end*/

/*enrich start*/

#enrich {
    background: #121118;
    padding: 200px 0;
}

.enrich {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.enrich-text h1 {
    color: #FFF;
    font-size: 58px;
    font-style: normal;
    font-weight: 400;
    line-height: 70px;
    width: 462px;
    padding-bottom: 38px;
}

.enrich-text p {
    width: 524px;
    color: rgba(255, 255, 255, 0.50);
    font-size: 27px;
    font-weight: 400;
    line-height: 38px;
}

.enrich-text p span {
    color: white;
    font-weight: 700;
}

.enrich-img {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}

.enrich-img-one {
    position: absolute;
    top: 0;
    left: 0;
}

/*enrich end*/

/*add start*/

#add {
    background: #121118;
    padding: 180px 0;
}

.add-text h1 {
    width: 404px;
    padding-bottom: 38px;
    color: #FFF;
    font-size: 54px;
    font-weight: 400;
    line-height: 70px;
}

.add-text p {
    color: rgba(255, 255, 255, 0.50);
    font-size: 27px;
    font-weight: 400;
    line-height: 38px;
    width: 500px;
}

.add-text p span {
    color: #FFF;
    font-weight: 700;
}

.add {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.add-block {
    width: 571px;
    height: 367px;
    background: #3b3b48;
    border-radius: 30px;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}

.add-block-one {
    width: 75%;
    height: 60px;
    padding-top: 25px;
    background: #161617;
    margin: 10px 0;
    border-radius: 20px;
    display: flex;
    justify-content: space-around;
    align-items: start;
}

.add-block-user {
    width: 35px;
    height: 35px;
    border-radius: 50%;
    color: white;
    font-size: 18px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #2d2d2e;
}

.add-block-text h5 {
    color: white;
    font-size: 17px;
    font-weight: 500;
    padding-bottom: 5px;
}

.add-block-text h6 {
    color: rgba(255, 255, 255, 0.50);
    font-weight: 500;
    font-size: 16px;
}

.add-block-one button {
    padding: 20px 33px;
    background: #fd4357;
    border-radius: 20px;
}

/*add end*/

/*link start*/

#link {
    padding: 180px 0;
    background: #121118;
}

.link {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.link-text h1 {
    width: 445px;
    color: #FFF;
    font-size: 58px;
    font-style: normal;
    font-weight: 400;
    padding-bottom: 38px;
}

.link-text p {
    width: 500px;
    color: rgba(255, 255, 255, 0.50);
    font-size: 25px;
    font-weight: 400;
    line-height: 38px;
}

.link-text p span {
    color: white;
    font-weight: 700;
}

.link-block {
    width: 562px;
    height: 350px;
    background: #1d1c27;
    border-radius: 30px;
    position: relative;
    display: flex;
    justify-content: end;
    align-items: end;
}

.link-block div {
    width: 72px;
    height: 280px;
    display: flex;
    justify-content: center;
    align-items: start;
    padding-top: 20px;
    color: white;
    font-size: 28px;
    cursor: pointer;
    position: absolute;
    bottom: 0;
    transition: .5s;
}

.link-block div:hover {
    transform: translateY(-50px);
    border-radius: 20px;
    z-index: 5;
    -webkit-box-shadow: 0 0 40px 40px rgba(255, 255, 255, 0.18);
    -moz-box-shadow: 0 0 40px 40px rgba(255, 255, 255, 0.18);
    box-shadow: 0 0 40px 40px rgba(255, 255, 255, 0.18);
}

.youtube {
    background: #fd000e;
    border-radius: 20px 0 0 0;
    right: 455px;
}

.instagram {
    background: #d2005b;
    border-radius: 20px 0 0 0;
    right: 390px;
}

.twitch {
    background: #8240f5;
    border-radius: 20px 0 0 0;
    right: 325px;
}

.tiktok {
    background: #050406;
    border-radius: 20px 0 0 0;
    right: 260px;
}

.twitter {
    background: #029bee;
    border-radius: 20px 0 0 0;
    right: 195px;
}

.linkedin {
    background: #006598;
    border-radius: 20px 0 0 0;
    right: 130px;
}

.mail {
    background: #24515b;
    border-radius: 20px 0 0 0;
    right: 65px;
}

.whatsapp {
    background: #4fe96d;
    border-radius: 20px 0 30px 0;
    right: 0;
}

/*link end*/


/*the start*/

#the {
    padding: 180px;
    background: #121118;
}

.the h1 {
    margin: 0 auto;
    width: 510px;
    color: #FFF;
    text-align: center;
    font-size: 61px;
    font-weight: 400;
}

.the-line {
    width: 120px;
    height: 5px;
    background: #FF4343;
    margin: 38px auto 34px auto;
}

.the p {
    color: rgba(255, 255, 255, 0.50);
    text-align: center;
    font-size: 26px;
    font-weight: 400;
    width: 617px;
    margin: 0 auto 88px auto;
}


/*the end*/


/*offer start*/

#offer {
    padding: 180px 0;
    background: #121118;
}

.offer h4 {
    color: #8BFFB0;
    font-size: 22px;
    font-weight: 400;
}

.offer h1 {
    padding: 21px 0 32px 0;
    width: 787px;
    color: #FFF;
    font-size: 58px;
    font-weight: 400;
}

.offer p {
    width: 904px;
    color: rgba(255, 255, 255, 0.50);
    font-size: 27px;
    font-weight: 400;
}

.offer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.offer-img {
    animation: offerImg 3s infinite linear;
    padding-top: 70px;
}

@keyframes offerImg {
    0% {
        opacity: 0;
    }
}

/*offer end*/

/*what start*/

#what {
    background: #121118;
}

.what-block {
    width: 85%;
    height: 433px;
    border-radius: 30px;
    background: #1D1B24;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

.what {
    display: flex;
    justify-content: center;
    align-items: center;
}

.what-block h1 {
    color: #FFF;
    font-size: 63px;
    font-weight: 400;
}

.what-block p {
    color: rgba(255, 255, 255, 0.70);
    font-size: 27px;
    font-weight: 400;
}

.what-block button {
    color: #FFF;
    font-size: 23px;
    font-weight: 400;
    background: #FF4343;
    padding: 15px 25px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.what-block button ion-icon {
    font-size: 35px;
    padding-left: 19px;
}

/*what end*/

/*can start*/

#can {
    background: url("../img/can.png") no-repeat center/cover;
    min-height: 60vh;
}

.can h1 {
    color: #FFF;
    font-size: 42px;
    font-style: italic;
    font-weight: 700;
    width: 701px;
}

.can p {
    color: rgba(255, 255, 255, 0.70);
    font-size: 23px;
    font-weight: 400;
    padding-top: 14px;
}

.can {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 60vh;
    text-align: center;
}

.can-img {
    background: linear-gradient(180deg, #1D1B24 0%, rgba(0, 0, 0, 0.00) 100%);
}

/*can end*/


/*block start*/

#block {
    background: #0A0A0A;
    padding: 170px 0;
}

.block h1 {
    color: #FFF;
    font-size: 58px;
    padding-bottom: 109px;
    font-weight: 400;
}


.block-one-img {
    position: relative;
}

.block-one-img-text h3 {
    color: #FFF;
    font-size: 19px;
    font-weight: 400;
    padding-bottom: 18px;
}

.block-one-img-text div ion-icon {
    font-size: 18px;
    color: white;
}

.block-one-img-text div p {
    color: #FFF;
    font-size: 13px;
    font-weight: 400;
    padding-left: 5px;
}

.block-one-img-text div {
    display: flex;
    align-items: center;
}

.block-one-img-text {
    position: absolute;
    left: 15px;
    bottom: 20px;
}

.block-one-blocks {
    background: #8be8a9;
    height: 449px;
    position: relative;
}

.block-one{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 45%;
}


.block-one-blocks h3{
    padding: 30px 0 0 30px;
    color: #95FEC1;
    font-size: 12px;
    font-weight: 400;
    text-transform: uppercase;
}

.block-one-blocks h2{
    width: 209px;
    padding: 17px 0 23px 30px;
    color: #FFF;
    font-size: 29px;
    font-style: normal;
    font-weight: 400;
}

.block-one-blocks p{
    width: 302px;
    color: #FFF;
    font-size: 16px;
    font-weight: 400;
    padding: 0 0 0 30px ;
}

.block-one-blocks div h5{
    color: #FFF;
    font-size: 19px;
    font-weight: 400;
}

.block-one-blocks div ion-icon{
    font-size: 32px;
    color: white;
    padding-left: 24px;
}

.block-one-blocks div {
    display: flex;
    align-items: center;
    position: absolute;
    bottom: 30px;
    right: 30px;
}

.block-general{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

/*block end*/